.first_nav a{
    text-decoration: none;
    color: #592600;
    font-style: italic;
    font-size: 17px;
    padding-left: 20px;
}
.navButton{
    background-color: #ffff !important;
    color: #592600 !important;
    text-transform:uppercase ;
}
.navbar{
    background-color: #592600;
}
.nav-link{
    color:#ffff !important;
    text-transform: uppercase;
}
.navbar-brand{
    text-transform: uppercase;
    color: #ffff !important;
    font-weight: bold;
    font-style: italic;
    font-size: 25px !important;
}
.red{
    color: rgb(249,72,7);
}

.herotex1 h1{
    margin-top: 100px;
    margin-left: 150px;
    color: #592600;
}

.herotext p{
    margin-left: 150px;
    color: #592600;
    font-size: 30px;
    font-weight: lighter;
}
.herotext button{
    margin-left: 150px;
    color: #ffff;
    background-color: #592600 !important;
    width: 170px;
    font-weight: 900;
}
.herotext button:hover{
    color: #ffff !important;
    text-decoration: underline;
}

.heroimg{
    display: inlin;




}
.cols{
    color: #592600;
}
.buts{
    color: #ffff !important;
    background-color: #592600 !important;
    width: 100px;
    font-weight: 900;
}
.grey{
    background-color: #e5e5e5;
    color: #592600;
}

.grey h1{
    padding-top: 50px;
}
.blue{
    background-color: rgb(97, 116, 110);
}
.about {
    background-color:white;
    padding-top: 20px;
    display:flex;
    /* grid-template-rows:30px ; */
}
.about h2{
    width: 40ch;
    text-align:left;
    padding:20px;
    font-size: 1.5em;

}
.about p{
        width: 40ch;
        padding:20;
        font-size: 1.5em;
        text-justify:left ;



}
.about img{
    border-radius: 50%;
    
    
}



footer{
    background-color:rgba(75, 24, 4, 0.856);
    color: white;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 30px; */
    padding-left: 50px;
    column-gap: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.cont h2{
    color: white !important;
}
#link{
    
    text-align: center;
}
ul{
    list-style: none;
    text-decoration: none;
}
#link a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.cont{
    padding-top: 50px;
    font-weight: bold;

}
form{
    text-align: center;
}
 #button{
    background-color:rgba(75, 24, 4, 0.856);

    padding-right: 30px;
    text-align: center;
}



