/* .container{
    background-color: aqua;
}
[class*='col']{
    background-color: azure;
    border: 1px solid black;
} */

.navbar{
    background-color: rgb(33, 187, 59);
}
.nav-link{
    color: white !important;
}
.navbar-brand img{
    width: 80px !important;
    height: 100px;

}